body {
    margin:0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    background-color:#c9b2d2;
    color:#3a3a3a;

}

/* Barra de navegación */
.navbar {
    text-align: center;
    position: fixed;
    height: 20%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #443357;
    color:#fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 10px;
}
    
.navbar a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #ffffff;
}
    
.navbar a:hover {
    background-color: #000000;
    color: #FFFFFF;
}
    
    /* Contenido principal */
.content, .container {
    margin-top: 20%;
    text-align: center;
}
input {
    width: 95%;
    border-radius: 8%;
    border-color: #443357;
}
.albums{
    display: flexbox;
}
.cover{
    width: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.page{
    color:#fff;
}
h1, h2, h3 {
    color: #000000;
}
p {
    line-height: 1.5;
}
.footer{
    text-align: center;
}